h1 {
    color:cadetblue;
    font-family: 'Gaegu', sans-serif;
    font-weight: 900;
    margin-left: 10px;
}


h3 {
    color:#FF803C;
    font-family: 'Gaegu', sans-serif;
    font-weight: 900;
    margin-left: 10px;
}

h4 {
    color:cadetblue;
    font-family: 'Gaegu', sans-serif;
    font-weight: 900;
    margin-left: 5px;
}
a { 
    font-family: 'Gaegu', sans-serif;
    font-size: 20px;
}

.navbar{
    font-weight: bold;
}

.basicinfo {
    color: darkcyan;
    font-size:20px;
    font-family:'Gaegu', sans-serif;
    margin-left: 10px;
}

.summary{
    color:#FF803C;;
    font-size:20px;
    font-family:'Gaegu', sans-serif;
    margin-left: 10px;    
}

.week{
    color: black;
    font-size: medium;
}

.maincontent{
    color: black;
    font-size:20px;
    font-family:'Gaegu', sans-serif;
    margin-left: 13px;    
}
.create {
    color: black;
    font-family: 'Gaegu', sans-serif;
    font-size: 20px;
    margin-left: 10px;
}
.more {
    color: cadetblue;
    font-family: 'Gaegu', sans-serif;
    font-size: 20px;
    
}

.title {
    color: black;
    font-family: 'Gaegu', sans-serif;
    margin-left: 0;
    font-weight: bold;
}
.detail{
    color: black;
    font-size:20px;
    font-family:'Gaegu', sans-serif;
    margin-left: 10px;
    
}
.new{
    color: black;
    font-size:20px;
    font-family:'Gaegu', sans-serif;
    margin-left: 10px;
}
.UD{
    margin-left: 10px;
}
.container{
    color: black;
    font-size:20px;
    font-family:'Gaegu', sans-serif;
    margin-left: 10px;
}