@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'GmarketSansMedium';
}

h1 {
    color:black;
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: 900;
    
}

h3 {
    color:#FF803C;
    font-family: 'GmarketSansMedium', sans-serif;
    font-weight: 900;
}

h4 {
    color:cadetblue;
    font-family: 'GmarketSansMedium', sans-serif;
    
}
h5 {
    color: black;
    font-family: 'GmarketSansMedium', sans-serif;

}
a { 
    font-family: 'GmarketSansMedium', sans-serif;
}

p {
    font-family: 'GmarketSansMedium', sans-serif;
}
.navbar{
    font-weight: bold;
}

.basicinfo {
    color: darkcyan;
    font-size:20px;
    font-family:'GmarketSansMedium', sans-serif;
    
}

.summary{
    font-size:15px;
    font-family:'GmarketSansMedium', sans-serif;
}


.maincontent{
    color: black;
    font-size:20px;
    font-family:'GmarketSansMedium', sans-serif;
    margin-left: 13px;    
}
.create {
    color: black;
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 20px;
    
}
.more {
    color: cadetblue;
    font-family: 'GmarketSansMedium', sans-serif;
    font-size: 20px;
    
}

.title {
    color: black;
    font-family: 'GmarketSansMedium', sans-serif;
}
.detail{
    color: black;
    font-size:20px;
    font-family:'GmarketSansMedium', sans-serif;
    
    
}
.new{
    color: black;
    font-size:20px;
    font-family:'GmarketSansMedium', sans-serif;
    
}

.container{
    color: black;
    font-size:20px;
    font-family:'GmarketSansMedium', sans-serif;
    
}

.profile-pic {
    max-height: 100px;
    max-width: 100px;
    margin-left: 50px;
}
