{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>{{post.title}}</h1>
<div class = 'detail'>
    작성자 : {{post.writer}}
    최종 수정 날짜 : {{post.pub_date}}
    {% if post.image %}
            <p><img src="{{post.image.url}}" alt="사진" style="max-height: 600; max-width: 400px;" onclick="window.open(this.src)"></p>
    {% endif %}
    기분 : {{post.mood}}
    TMI : {{post.tmi}}
    <hr>
    <p>{{post.body}}</p>
</div>
{% if request.user.is_authenticated %}
    {% if is_author %}
        <a href="{% url 'main:edit' post.id %}" class = "UD">수정하기</a>
        <a href="{% url 'main:delete' post.id %}" class = "UD">삭제하기</a>
    {% else %}
    <a href="" class = "UD">수정하기</a>
    <a href="" class = "UD">삭제하기</a>
    {% endif %}
{% else %}
    <a href="" class = "UD">수정하기</a>
    <a href="" class = "UD">삭제하기</a>
{% endif %}

{% endblock %}