{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class = "colorless">
<h1>{{post.title}}</h1></div>
<div class = 'detail'>
    작성자 : {{post.writer}}
    최종 수정 날짜 : {{post.pub_date}}
    {% if post.image %}
            <p><img src="{{post.image.url}}" alt="사진" style="max-height: 600; max-width: 400px;" onclick="window.open(this.src)"></p>
    {% endif %}
    기분 : {{post.mood}}
    TMI : {{post.tmi}}
    <hr>
    <p>{{post.body}}</p>
    <p> 태그 : 
        {% for tag in post.tags.all %}
        <a href="{% url 'main:tag_posts' tag.pk %}">{{ tag.name }}</a>
        {% endfor %}
    </p>
</div>
{% if post.writer == user %}
    <a href="{% url 'main:edit' post.id %}">수정하기</a>
    <a href="{% url 'main:delete' post.id %}">삭제하기</a>
{% endif %}

<div class="comment_container">
    <div class="comment_form">
        <br>
        <h5>&nbsp;댓글 작성하기</h5>
        <form method="POST" action="{% url 'main:detail' post.id %}">
            {% csrf_token %}
            &nbsp;&nbsp;<input type="text" name="content">
            <input type="submit" name="submit" value="등록">
        </form>
    </div>
    <div class="comment_list">
        {% for comment in comments %}
            <hr>
            <div style="display: flex; align-items: center;">
                <h5 style="margin-right: 10px;">작성자: {{ comment.writer }}</h5>
                {% if comment.writer == user %}
                <a href="#">수정 &nbsp;</a>
                <a href="{% url 'main:deleteComment' comment.id %}">삭제 </a>

                {% endif %}
            </div>
            <p>내용 : {{ comment.content }} <br>
                태그 : 
                {% for tag in comment.tags.all %}
                <a href="{% url 'main:tag_posts' tag.pk %}">{{ tag.name }}</a>
                {% endfor %}
            </p>
            <p>{{ comment.pub_date }}</p>
        {% endfor %}
    </div>
</div>

{% endblock %}