{% extends 'base.html' %}
{% load static %}

{% block content %}

<div>
    <h3><b>More Info.</b></h3>
</div>

<div class = "basicinfo">
    <ul>
        <li>나이: 24세</li>
        <li>전공: 경영정보학과/융합소프트웨어학과</li>
        <li>MBTI: ISFP</li>
        <a href = "https://mercurial-pipe-bcc.notion.site/4b31dcb779584ccfbf23419676cee902"
    target ="_blank">노션에서 자기소개 보러가기</a>
    </ul>
       
</div>

<div class = "summary">
    <p><b>멋쟁이사자처럼 11기 세션 정리</b></p>
    
    <ul class = "week" style="list-style-type: none;">
       <li>
        <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
            1주차
            </a><div style="DISPLAY: none">
                OT 및 자기소개
            </div>
       </li>

       <li>
        <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
            2주차
            </a><div style="DISPLAY: none">
                Git 협업 및 django 개발환경 세팅
                    <ul class = "details" style="list-style-type: none;">
                        <li>
                            <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
                                git 협업
                                </a><div style="DISPLAY: none">
                                    <ol>
                                        <li>디렉토리 생성</li>
                                        <li>repository 생성 (협업 시 최상위 레포지토리 fork로 개인 레포지토리에 복사)</li>
                                        <li>vscode로 workspace 열고 새 터미널 열고 git bash로 변경</li>
                                        <li>git init 초기화</li>
                                        <li>git clone <개인 레포지토리 url></li>
                                        <li>
                                            git remote add origin <개인 레포지토리 url>
                                            git remote add upstream <협업 레포지토리 url>
                                            git remote -v로 확인 ...
                                        </li> 
                                        <li>branch 생성 [git checkout -b 브랜치명, 생성과 이동 동시]</li>
                                        <li>
                                            git add . [작업한 파일 모두 add]
                                            git commit -m "커밋내용"
                                            git push origin <개인 브랜치명>
                                        </li>
                                        <li>
                                            github 개인 레포지토리에 PR
                                            upstream에 pr요청
                                            merge 되고 git pull upstream main
                                        </li>
                                    </ol>                       
                                </div>
                        </li>
                        <li>
                            <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
                                django
                                </a><div style="DISPLAY: none">
                                    <ol>
                                        <li>가상환경 설치: $pip3 install pipenv</li>
                                        <li>가상환경 실행: $pipenv shell</li>
                                        <li>장고 설치: $pip install django</li>
                                        <li>프로젝트 파일 생성: $django-admin startproject [project name]</li>
                                        <li>settings.py 초기설정: allowed host, language, time 등 설정</li>
                                        <li>APP 설치: $python manage.py startapp [app name] *manage.py 파일 있는 디렉토리에서 실행</li>
                                        <li>settings.py의 installed_apps에 app_name 추가</li>
                                        <li>$pyhton manage.py migrate / $python manage.py makemigrations</li>
                                        <li>서버 실행: $python manage.py runserver</li>
                                        <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
                                            * 프로젝트와 app 비교
                                        </a><div style="DISPLAY: none">
                                            <a>
                                                <img src = "{% static 'images/project_app.png' %}" style="width: 500px;">
                                            </a>
                                            </div>
                                    </ol>
                                </div>
                        </li>
                    </ul>
            </div>
       </li>

       <li>
        <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
            3주차
            </a><div style="DISPLAY: none">
                트랙별 교육 - 백엔드_django 상속<br>
                <ol>
                    <li>url을 입력하면 views.py에서 url에 해당하는 데이터 요청<br>-> 요청한 데이터에 맞는 html을 거져와 web에 보여줌</li>
                    <li>templates 언어 사용<br>ex: &#123;% url '[name]' %&#125;<br>
                    변수, 필터, 태그, 주석 등 4가지 기능 제공</li>
                    <li>상속 - 반복되는 코드를 분리해 다른 페이지에서도 상속받을 수 있게 함.<br>
                    &#123;% block content %&#125;<br>
                    > 다른 파일에서 재사용 가능한 html 정의 < <br>
                    &#123;% endblock %&#125;<br>
                    &#123;% extends 'base.html' %&#125; -> base.html을 불러오고 block을 통해 상속시킴.<br>
                    이 때, settings.py에서 TEMPLATES의 DIRS 에 템플릿 파일을 찾을 수 있는 경로를 추가해줌.<br>
                    &#123;% include '다른 템플릿파일 경로/파일 이름' %&#125; -> 다른 템플릿 파일을 포함시킴.<br></li>
                    <li>static - 웹 페이지에서 사용되는 정적인 파일을 저장하는 디렉토리 [image, JS, CSS]<br>
                    이 때, &#123;% load static %&#125;을 사용해 html에서 static파일을 불러오겠다고 선언해주어야 함.<br>
                    또, settings.py에서도 static 파일을 불러올 수 있도록 경로를 지정해 주어야함.</li>
                </ol>
            </div>
       </li>

       <li>
        <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
            4주차
            </a><div style="DISPLAY: none">
                트랙별 교육 - CREATE & READ <br>
                <ol>
                    <li>django MTV : Model | Template | View</li>
                    <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
                        * MTV
                    </a><div style="DISPLAY: none">
                        <a>
                            <img src = "{% static 'images/mtv.png' %}" style="width: 500px;">
                        </a>
                        </div>
                    <li>Model - FieldType, Field Option
                        <ul>
                            FieldType <br>
                            숫자
                            <li>IntegerField - 정수 값 저장 필드</li>
                            <li>AutoField - 자동적으로 증가하는 IntegerField, PK 미설정 시 자동 id 생성</li>
                            <li>FloatField - 부동 소수점 실수 저장 필드</li>
                            문자열
                            <li>CharField - 기본 문자열 필드, max_length로 최대 길이 제한</li>
                            <li>TextField - textarea 에 사용되는 문자열 필드, 여러 줄 저장</li>
                            <li>EmailField</li>
                            날짜
                            <li>DateField / DateTimeField - 날짜, 날짜 및 시간 저장 필드</li>
                        </ul>
                        <ul>
                            FildOption <br>
                            <li>primary_key - True 시 해당 필드는 모델의 pk, read-only 값을 바꾸면 새 객체 생성</li>
                            <li>unique - True 시 테이블 전체에서 고유한 값, ID 등이 될 수 있음.</li>
                            <li>null = True - null값이 DB에 저장, blank상태와 다름. | blank = True - 값이 비어있을 수 있음. 저장된 값이 없을 수 있음.</li>
                            <li>default - 필드의 기본 값 지정. 특정 값이나 호출 가능한 객체일 수 있음.</li>
                        </ul>
                    </li>
                    <li>
                        CRUD - Create
                            <ul>
                                <li>GET VS POST<br>
                                    GET : 데이터를 얻기 위한 요청, url에 변수를 포함시켜 요청해 url에 데이터가 노출됨. <br>
                                    POST : 데이터가 본문에 포함됨. 데이터 생성을 위한 요청. url에 데이터 노출 X. CSRF(Cross Site Request Forgery) 공격 방지
                                    
                                </li>
                                <li>Render & Redirect<br>
                                Render : 템플릿을 불러옴<br>
                                Redirect : URL로 이동
                                </li>
                                <li>form action = &#123;%url 'create' %&#125; method = "POST"<br>
                                    urls.py에서 'create'라고 지정한 url패턴 참조. 입력값을 views.py의 create 함수로 보냄.<br>
                                    > return redirect('detail', new_post.id) 게시글 작성 끝나면 detail을 볼 수 있도록  detail 함수로 보내고, detail함수에서는 detail.html 렌더링. 
                                </li>
                            </ul>
                        <li>
                            CRUD - READ
                            <ul>
                                <li>mainpage에서 posts = Post.objecjs.all()을 통해 Post의 모든 객체를 posts에 저장</li>
                                <li>&#123;% for post in posts  %&#125; <br>
                                    &#123;&#123;% post.title %&#125;&#125; &#123;% endfor %&#125;식의 접근 가능
                                </li>
                                <li>urls.py에 path('&#60;int:id&#62;,views.detail,name='detail'') >> url에 post의 id 값 넣어서 전달, 전달 받은 id 값 통해 특정 게시글 detail 띄우기.</li>
                            </ul>
                        </li>
                    </li>
                </ol>
            </div>
       </li>

       <li>
        <a onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
            5주차
            </a><div style="DISPLAY: none">
                트랙별 교육 - UPDATE & DELETE & MEDIA <br>
                <ol>
                    <li>앱마다 urls.py를 정리 > why? : 프로젝트의 urls.py에 모두 정리하면 가독성 저하 및 유지보수 어려움<br>
                    프로젝트의 urls.py에 inlude를 import 후 path('',include('appname.urls')) > appname의 urls를 포함한다는 뜻<br>
                    앱의 urls.py에 from .view import * > 앱 내의 views.py를 사용하기 위한 코드 <br>
                    app_name = "main" 설정 > 다른 앱 추가했을 때, 동일한 url 사용 시 중복 발생 문제 방지 >> template의 url을 app_name:url_name으로 바꿔주어야 함.</li>
                    <li>CRUD - Update
                        <ul>
                            <li>기존 내용을 수정하는 것이므로 수정할 데이터의 id값 필요.<br>
                            def edit(request, id) <br>
                            edit_post = Post.objects.get(id=id) > Post에 속한 게시글 중 해당 id값에 해당하는 게시물 불러옴.<br>
                            return render(request, 'main/edit.html', &#123;'post': edit_post&#125;) post라는 이름의 변수에 edit_post를 대입해 클라이언트의 요청을 main의 edit.html로 전달. 
                            </li>
                            <li>edit.html에서는 form action = "&#123;% url 'main:update' post.id %&#125;" method="post" enctype="multipart/form-data" <br>
                            main의 update url 참조, 즉 update 함수로 넘겨줄 것임, post.id 수정 시 update하고자 하는 글의 id 값 제공</li>
                        </ul>
                    </li>
                    <li>CRUD - Delete
                        <ul>
                            <li>def delete(request,id):<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;delete_post = Post.objects.get(id=id)<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;delete_post.delete()<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;return redirect('main:mainpage')<br>
                                delete 함수 실행되면 main의 mainpage경로로 이동. mainpage 함수 실행. 
                            </li>
                        </ul>
                    </li>
                    <li> MEDIA
                        <ul>
                            <li> 사용자로부터 사진 파일 업로드 받은 뒤 해당 사진 제공.</li>
                            <li> settings.py의 MEDIA_ROOT, MEDIA_URL 추가 : 업로드 파일 보관할 디렉토리 절대경로 설정<br>
                            업로드된 파일의 url경로를 DB에 저장하기 위해 urls.py에 설정. + static(settings.MEDIA_URL, document_root = settings.MEDIA_ROOT)</li>
                            <li>ImageField 모델에 추가. upload_to : 업로드할 폴더 지정, Pillow 라이브러리 설치 필요. </li>
                            <li>이 때, 기존 테이블과 모델이 다르므로 기존 데이터 삭제 후 진행, makemigrations, migrate 진행.</li>
                            <li>템플릿의 form 태그 안에 enctype="multipart/form-data" 작성. 폼 데이터가 서버로 제출될 때, 모든 문자를 인코딩 하지 않음을 명시 > 주로 파일이나 이미지 서버로 전송할 때 사용</li>
                        </ul>
                    </li>
                    <li>과제
                        <ul>
                            <li> Media 업데이트 기능 구현</li>
                            <li>if update_post.image is None:   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;만약 기존 이미지가 없으면 <br>
                                &nbsp;&nbsp;&nbsp;&nbsp;update_post.image = request.FILES.get('image')&nbsp;&nbsp;&nbsp;&nbsp;제출한 이미지를 update_post.image에 저장<br>
                            elif request.FILES.get('image'): &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;만약 기존 이미지가 있고 요청이 들어온 경우<br>
                                &nbsp;&nbsp;&nbsp;&nbsp;update_post.image = request.FILES.get('image')&nbsp;&nbsp;&nbsp;&nbsp; 새 요청으로 기존 이미지를 덮어쓰고,<br>
                            요청이 없는 경우엔 기존 이미지를 유지함.
                            </li>
                            <li> Media delete 기능 구현</li>
                        </ul>
                    </li>
                </ol>
            </div>
       </li>

    </ul>
</div>

{% endblock %}