{% extends 'base.html' %}
{% load static %}

{% block content %}

    {% if user.profile.profile_pic %}
        <img src="{{ user.profile.profile_pic.url }}" alt="프로필 사진" class="profile-pic" onclick="window.open(this.src)">
    {% endif %}
    

    <div class="container">
        <h3>{{user.username}}</h3>
            {% if request.user != user %}
                {% if request.user.profile in user.profile.followers.all %}
                    <a href="{% url 'users:follow' user.id %}"><button type="button" class="btn btn-outline-info">언팔로우</button></a>
                {% else %}
                    <a href="{% url 'users:follow' user.id %}"><button type="button" class="btn btn-info">팔로우</button></a>
                {% endif %}
            {% endif %}
            
            <p>팔로워 <br> {{user.profile.followers.count}} 명</p>
            {% for follower in user.profile.followers.all %}
                <a href="{% url 'users:mypage' follower.user.id %}">{{follower.user.username}}</a>
            {% endfor %}
    
            <p>팔로잉 <br> {{user.profile.followings.count}} 명</p>
            {% for following in user.profile.followings.all %}
                <a href="{% url 'users:mypage' following.user.id %}">{{following.user.username}}</a>
            {% endfor %}
    
        <div>
            <br>
            <h3>글 목록</h3>
            {% for post in posts %}
            <a href="{% url 'main:detail' post.id %}">{{post.title}}</a>
            {% endfor %}
        </div>
    </div>

{% endblock %}